/* start variable */

:root {
    --main-color: #19c8fa;

}

/* end variable */


/* start global */



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body {
    font-family: 'Cairo', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    background-color: rgb(45, 43, 40);
}

html {
    scroll-behavior: smooth;
}
.parent{
    background-color: cadetblue;
}
.container{
    padding: 0 15px;
    margin-left:auto;
    margin-right:auto ;
    /* background-color: cadetblue; */

}

ul {
    list-style: none;
}

/* Small Screen */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }

}

/* Medium Screen */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large Screen */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* end global global */

/* start header */

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}
header .container::after {

    content: '';
    position: absolute;
    background-color: #28b947;
    bottom: 0px;
    height: 1px;
    width: calc(100% - 30px);
    left: 15px;
}
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}


header .container nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
}

header .container nav .toggle-menu{
    color: wheat;
    font-size: 22px;

}
@media (min-width: 768px ){
    header .container nav .toggle-menu{ 
        display: none;

    }
}




header .container nav ul {
    /* flex: 1; */
    display: flex;
    /* justify-content:space-around; */
    /* align-items: center; */
}
@media (max-width: 768px ){
    header .container nav ul { 
        display: none;
        
    }
    header .container nav .toggle-menu:hover + ul{
        display: flex;
        position: absolute;
        top: 100%;
        right: 0;
        padding: 0px;
        flex-direction: column;
        background-color: rgb(0,0,0 / 50% );
    }
    header .container nav .toggle-menu:hover + ul li a{ 
        padding: 15px;
    } 

}


header .container nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
    padding: 40px 10px;
    position: relative;
    z-index: 2;
}

header .container nav ul li a:active,
header .container nav ul li a:hover {
    color:var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

header nav .form {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid white;
}

header nav .form i {
    color:wheat;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right:10px;
 }
/* end header */





